form.search-block {
    background-color: rgb(92, 143, 163);
    padding: 2rem
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
}

div.result-container {
    padding: 2rem;
    text-align: center;
}

div.title-row {
    border-bottom:  rgb(92, 143, 163) solid 3px;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    
}